.app-charts {
    div.back-edit {
        margin-bottom: 25px;
        .btn i {
            font-size: 30px;
            color: #1645ae;
            &:hover {
                color: #37a6d8;
            }
        }
    }
}
